.App {
  text-align: center;
  font-family: Arial;
}

h1 {
  text-transform: uppercase;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  border-top: 1px solid black;
  font-family: arial;
  font-size: 18px;
  
}

.infor-product {
  display: flex;
  flex-direction: column;
 
}


.form-add-product {
  background-color: rgba(99, 95, 95, 0.616);
  bottom: 0;
  position: relative;
  width: 100%;
  height: 6rem;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

input{
  width: 25rem;
  height: 1.5rem;
  font-size: 18px;
}

button {
  height: 3rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


